<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient Details</title>
</head>
<body>
<h1> Details of Patients</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Age</th>
        <th>Bed</th>
        <th>Address</th>
        <th>State</th>
        <th>City</th>
        <th>Status</th>
    </tr>
    <tr>
{% for patientdetails in data %}

<td>{{ patientdetails.name }}</td>
<td>{{ patientdetails.phone_number }}</td>
<td>{{ patientdetails.age }}</td>
<td>{{ patientdetails.bed_type }}</td>
<td>{{ patientdetails.address }}</td>
<td>{{ patientdetails.state }}</td>
<td>{{ patientdetails.city }}</td>
<td>{{ patientdetails.patient_status }}</td>
    </tr>
{% endfor %}
</table>
</body>
</html>