<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<form method="get" action="/getAllPatients">
    <button type="submit">All Patient Details</button><br><br>
</form>

<form method="get" action="/GetPatientByIDhtml">
    <button type="submit">Get One Patient Details</button><br><br>
</form>

<form method="get" action="/EditPatientByIDhtml">
    <button type="submit">Edit Patient Details</button><br><br>
</form>

<form method="get" action="/DeletePatientByIDhtml">
    <button type="submit">Delete Patient Details</button><br><br>
</form>

</body>
</html>